<!-- -*-mode: HTML; coding:utf-8;-*- -->

<div id="site_faq_contents">
  <a id="top"></a><h4>Authentification</h4>
  <ul>
    <li><a href="#authenticate">Comment est-on identifié ?</a></li>
    <li><a href="#meeting_delete">Pourquoi ne puis-je pas supprimer ou modifier une réservation ?</a></li>
  </ul>
  
  <h4>Créer / Modifier les Réservations</h4>
  <ul>
    <li><a href="#create">Comment créer une réservation qui se répète ?</a></li>
    <li><a href="#repeating_delete">Comment supprimer une seule réservation faisant partie d'une périodicité ?</a></li>
    <li><a href="#multiple_sites">Comment réserver simultanément des salles sur différents sites ?</a></li>
    <li><a href="#too_many">Je ne peux pas créer la réservation, j'ai le message <q>trop de réservations</q>!</a></li>
    <li><a href="#multiple_users">Que se passe-t'il si plusieurs personnes enregistrent la même réunion ?</a></li>
  </ul>
  
  <h4>Divers</h4>
  <ul>
    <li><a href="#internal_external">Quelle différence entre <q>Interne</q> et <q>Externe</q> ?</a></li>
  </ul>
  
  <h4>A propos de l'application Système de Réservation de Salles de Réunion</h4>
  <ul>
    <li><a href="#how_much">Combien cela coûte-il ?</a></li>
    <li><a href="#about">Comment cela fonctionne t'il et qui l'a développé ?</a></li>
  </ul>
</div>

<div id="site_faq_body">

  <div id="authenticate">
    <h4>Comment est-on identifié ?</h4>
    <p>
      L'application peut utiliser plusieurs méthodes d'authentification dont LDAP, Netware,
      et SMB. Contactez votre administrateur système si vous avez des problèmes pour
      entrer dans l'application. Certaines fonctionnalités sont réservées à
      certains utilisateurs, d'autres utilisateurs auront le message <q>Vous n'avez pas les droits 
      suffisants pour faire une modification</q>.
      Voyez votre administrateur système si cela ne fonctionne pas bien pour vous. Si
      l'application utilise l'authentification LDAP, vous devez vous connecter en
      utilisant le même identifiant et mot de passe que vous utilisez pour
      récupérer votre courrier électronique, par exemple <q>Mark Belanger</q> <q>MonMotDePasse</q>.
    </p>
    <a href="#top">Haut de page</a>
  </div>
  
  <div id="meeting_delete">
    <h4>Pourquoi ne puis-je pas supprimer ou modifier une réservation ?</h4>
    <p>
      Pour pouvoir supprimer ou modifier une réservation, vous devez être
      authentifié comme étant la même personne qui a créé la réservation.
      Contactez soit un des administrateurs ou la personne qui a créé la
      réservation pour la supprimer ou la modifier.
    </p>
    <a href="#top">Haut de page</a>
  </div>
  
  <div id="create">
    <h4>Comment créer une réservation qui se répète ?</h4>
    <p>
      Après avoir cliqué sur l'heure désirée, l'écran de réservation s'affiche.
      Choisissez le <dfn>Type de Périodicité</dfn> approprié. La salle sera réservée
      à la même heure, jusqu'à la <dfn>Date de Fin de Périodicité</dfn>, et seulement
      pour les jours spécifiés par le Type de Périodicité.
    </p>
    <ul>
      <li>
        Le type <dfn>Jour</dfn> crée une réservation chaque jour.
      </li>
      <li>
        Le type <dfn>Semaine</dfn> répète la
        réservation pour les jours de la semaine que vous avez coché sur la ligne <dfn>Jour</dfn>.
        Par exemple, pour une périodicité hebdomadaire programmée pour chaque lundi,
        jeudi et vendredi, cochez ces jours sur la ligne Jour. Si vous ne cochez pas de
        jours, la périodicité aura lieu chaque semaine le même jour que celui
        initialement choisi. 
      </li>
      <li>
        Le type <dfn>Mois</dfn> crée une périodicité le même jour
        chaque mois, par exemple le 15 de chaque mois. 
      </li>
      <li>
        Le type <dfn>Année</dfn> crée une
        périodicité le même jour du même mois, par exemple chaque 15 mars.
      </li>
      <li>
        Le type <dfn>Mois, même jour semaine</dfn> crée une périodicité 
        un jour par mois, le même jour de
        la semaine et avec la même position ordinale de la semaine dans le mois.
        Utilisez ce type pour créer des périodicité du type le premier lundi, le
        second jeudi ou le quatrième vendredi de chaque mois par exemple. N'utilisez
        pas ce type pour des réservations après le 28ème jour du mois. 
      </li>
      <li>
        Enfin le type <dfn>tous les n Semaines</dfn> est le même type que le type semaine mais permet de
        spécifier un intervalle de semaines, par exemple tous les mardi et jeudi toutes les 3 semaines.
      </li>
    </ul>
    <a href="#top">Haut de page</a>
  </div>
  
  <div id="repeating_delete">
    <h4>Comment supprimer une seule réservation faisant partie d'une périodicité ?</h4>
    <p>
      Choisissez la salle/jour/heure que vous voulez supprimer et choisissez <dfn>Effacer
      une réservation</dfn>. Attention si vous modifiez ensuite la périodicité les
      réservations supprimées individuellement reviendront.
    </p>
    <a href="#top">Haut de page</a>
  </div>
  
  <div id="multiple_sites">
    <h4>Comment réserver simultanément des salles sur différents sites ?</h4>
    <p>
      Ce n'est pas possible. Pour le moment, l'application ne peut pas enregistrer
      simultanément une réservation pour 2 salles différentes. Vous devez créer
      les réservations séparément. Assurez vous que les salles sont disponibles aux
      même périodes avant de faire la réservation.
    </p>
    <a href="#top">Haut de page</a>
  </div>
  
  <div id="too_many">
    <h4>Je ne peux pas créer la réservation, j'ai le message <q>trop de réservations</q>!</h4>
    <p>
      Il est impossible de créer plus de 365 réservations pour une réunion. Cette
      limitation est nécessaire pour des raisons de sécurité. Il est possible en
      cas de besoin d'augmenter cette limite.
    </p>
    <a href="#top">Haut de page</a>
  </div>
  
  <div id="multiple_users">
    <h4>Que se passe t'il si plusieurs personnes enregistrent la même réunion ?</h4>
    <p>
      Réponse rapide : la première personne qui clique le bouton <dfn>Enregistrer</dfn>
      gagne. En fait, techniquement l'application utilise une base de donnée relationnelle
      multi-threaded, Multi-Utilisateurs qui peut gérer plusieurs milliers
      d'utilisateurs simultanés.
    </p>
    <a href="#top">Haut de page</a>
  </div>
  
  <div id="internal_external">
    <h4>Quelle différence entre <q>Interne</q> et <q>Externe</q> ?</h4>
    <p>
      Par défaut, MRBS utilise deux types de réunions. <dfn>Interne</dfn> 
      correspond à des réunions d'employés. <dfn>Externe</dfn>  correspond
      à tout autre type, des clients, des vendeurs, des investisseurs, etc. Selon vos
      besoins, il est possible de créer jusqu'à 10 types de réunion. Sur la vue
      principale du calendrier, les réunions sont surlignées par une couleur
      correspondante à leur type, et une légende de tous les types définis figure
      en bas de la vue principale du calendrier.
    </p>
    <a href="#top">Haut de page</a>
  </div>

  <div id="how_much">
    <h4>Combien cela coûte-il ?</h4>
    <p>
      Rien du tout. Voir la section suivante pour plus d'informations.
    </p>
    <a href="#top">Haut de page</a>
  </div>
  
  <div id="about">
    <h4>Comment cela fonctionne t'il et qui l'a développé ?</h4>
    <p>
      L'application <a href="http://sourceforge.net/project/?group_id=5113">Meeting Room Booking System</a>
      est un logiciel libre de droits dont les sources sont disponibles, qui est
      distribué selon la Gnu Public License(GPL). Cela signifie que que vous pouvez
      modifier, distribuer et utiliser ce logiciel gratuitement.
    </p> 
    <p>
      Cette application est écrite principalement dans le langage <a href="http://www.php.net">PHP</a>,
      qui est un langage de programmation libre qui peut être mixé dans les pages
      webs de façon similaire au concept des <q>active server pages</q> de
      Microsoft.  PHP est particulièrement bon dans l'accès aux bases de données.
    </p>
    <p>  
      La base de donnée utilisée par l'application est soit
      <a href="http://www.mysql.com">MySQL</a>, soit <a href="http://www.postgresql.org">PostgreSQL</a>.
      MySQL est un serveur de base base de données SQL (Structured Query Language)
      robuste, Multi-Utilisateurs, multi-threaded et très rapide qui est aussi sous
      licence GPL. PostgreSQL est un serveur de base de données relationnelle SQL
      libre à base d'objets, doté de nombreuses caractéristiques et
      multi-utilisateurs.
    </p>
    <p> 
      L'application peut fonctionner sur de nombreuses plate-formes,
      y compris sur des architectures PC utilisant le système d'exploitation <a href="http://www.linux.com">Linux</a>.&nbsp;
      Linux est un système d'exploitation libre et gratuit, similaire à unix.
    </p>
    <p>
      Le serveur web utilisé est encore un autre logiciel libre et gratuit. Le serveur
      web <a href="http://www.apache.org">Apache</a>  est le serveur web le plus
      populaire au monde.
    </p>
    <p>
      En conclusion : <strong>chaque composant de ce système, du système d'exploitation à l'application,
      est complètement gratuit et libre, y compris le code source</strong>.
    </p>
    <a href="#top">Haut de page</a>
  </div>
  
</div>
