<!-- -*-mode: HTML; coding:utf-8;-*- -->

<h4>Generelles:</h4>
<ul>
  <li>
    Mit dem Raumbuchungssystem MRBS können Sie sowohl
    Räume wie auch Geräte oder sonstige Dinge buchen bzw.
    reservieren.
  </li>
  <li>
    Hierzu wählen Sie zunächst unter Bereiche den
    gewünschten <q>Bereich</q> aus.&nbsp; Je nach gewählter
    Ansicht (Tag/Woche/Monat).
  </li>
  <li>
    Sehen Sie entweder alle Räume/Geräte oder nur einen
    einzelnen, den Sie dann geeignet auswählen müssen.
  </li>
  <li>
    Der 3-Monats-Kalender dient zur schnellen Navigation - die jeweilige
    Ansicht (Tag/Woche/Monat) sowie der ausgewählte
    Raum/Gerät bleibt erhalten.
  </li>
  <li>
    Der Knopf <q>Start</q> neben der Datums-Eingabemaske führt immer
    zur Tagesansicht des eingestellten Bereichs.
  </li>
  <li>
    Raum/Geräte-Reservierungen führen Sie durch einen
    Klick auf das <q>Plus</q>-Zeichen (+) des gewünschten
    Raum/Geräts in der gewünschten Zeitspalte.
  </li>
</ul>

<div id="site_faq_contents">
  <h4><a id="top">Anmeldung</a></h4>
  <ul>
    <li><a href="#authenticate">Wie melde ich mich an?</a></li>
    <li><a href="#meeting_delete">Warum kann ich eine Buchung nicht ändern/löschen?</a></li>
  </ul>
  
  <h4>Anlegen / ändern von Besprechungen</h4>
  <ul>
    <li><a href="#create">Wie kann ich eine (periodisch) wiederkehrende Buchung anlegen?</a></li>
    <li><a href="#repeating_delete">Wie kann ich eine Buchung innerhalb einer Reihe von periodisch wiederkehrenden Buchungen löschen?</a></li>
    <li><a href="#multiple_sites">Wie kann ich Räume an verschiedenen Standorten einplanen?</a></li>
    <li><a href="#too_many">Meine Besprechung konnte nicht angelegt werden, da es <q>zu viele Einträge</q> gab!</a></li>
    <li><a href="#multiple_users">Was passiert, wenn mehrere Benutzer die gleiche Besprechung einplanen?</a></li>
  </ul>

  <h4>Verschiedenes</h4>
  <ul>
    <li><a href="#search">Suchen</a></li>
    <li><a href="#report">Bericht</a></li>
    <li><a href="#internal_external">Was ist der Unterschied zwischen <q>Intern</q> und <q>Extern</q>?</a></li>
  </ul>
  
  <h4>Etwas über das <q>Meeting Room Booking System</q></h4>
  <ul>
    <li><a href="#how_much">Wie viel hat das System gekostet?</a></li>
    <li><a href="#about">Wie arbeitet das System und wer hat es geschrieben?</a></li>
  </ul>
</div>

<div id="site_faq_body">

  <div id="authenticate">
    <h4>Wie melde ich mich an?</h4>
    <p>
      Das System kann mit verschiedenen Authentifizierungsmethoden konfiguriert werden, dazu 
      gehören LDAP, Netware und SMB. Wenden Sie sich bitte an ihren Systemadministrator, wenn Sie
      Schwierigkeiten bei der Anmeldung haben.
      
      Einige Systemfunktionen können auf bestimmte Benutzer beschränkt sein, und
      daher werden die übrigen Benutzer die Meldung: <q>Sie haben keine Berechtigung, diesen 
      Eintrag zu ändern</q> erhalten. Wenden Sie sich bitte an ihren
      Systemadministratoren, wenn ihre Benutzerberechtigungen nicht korrekt
      für sie eingestellt sind.
      
      Wenn das System auf der Grundlage der Authentifizierungsmethode LDAP
      eingerichtet ist, dann bedeutet dies, dass sie Zugang zu dem System mit
      dem gleichen Benutzernamen und Passwort z.B. <q>Mark Belanger</q> <q>MyPassword</q>
      wie zu ihrem E-Mail System haben.
    </p>
    <a href="#top">Top</a>
  </div>

  <div id="meeting_delete">
    <h4>Warum kann ich eine Buchung nicht löschen bzw. abändern?</h4>
    <p>
      Nur die Person, die die Besprechung im System angelegt hat, kann diese auch
      löschen bzw. abändern. Nehmen Sie Kontakt mit einem der Administratoren der
      Besprechungszimmer oder mit der Person, die die Besprechung ursprünglich
      angelegt hat, auf um diese löschen bzw. ändern zu lassen.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="create">
    <h4>Wie kann ich eine (periodisch) wiederkehrende Buchung anlegen?</h4>
    <p>
      Wenn sie auf die gewünschte Besprechungszeit klicken, kommen Sie auf den
      Bildschirm zum Anlegen einer Besprechung.
      Nach Eingabe einer <dfn>Kurzbeschreibung</dfn> und evtl. einer optionalen 
      <dfn>Vollständigen Beschreibung</dfn>, sowie von <dfn>Tag</dfn>, <dfn>Dauer</dfn>, 
      <dfn>Bereiche</dfn>, <dfn>Räume</dfn> (halten Sie die STRG-Taste beim Klicken 
      gedrückt um mehrere zu selektieren), wählen Sie die geeignete Art der
      Wiederholung aus. Der Raum wird für die gleiche Uhrzeit an den Tagen,
      die durch Ihren Wiederholungsschlüssel (Art der Wiederholung)
      festgelegt sind, bis zum Endtermin (Ende der Wiederholung)
      eingeplant. Täglich bedeutet eine Einplanung für jeden Tag.
      Wöchentlich nimmt die Einplanungen an den Wochentagen vor, die
      sie unter Tag der Wiederholung ausgewählt haben.
    </p>
    <a href="#top">Top</a>
  </div>

  <div id="repeating_delete">
    <h4>Wie kann ich eine Buchung innerhalb einer Reihe von periodisch wiederkehrenden Besprechungen löschen?</h4>
    <p>
      Wählen Sie den entsprechenden Besprechungstermin aus und gehen Sie danach auf
      die Auswahl <dfn>Eintrag löschen</dfn>.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="multiple_sites">
    <h4>Wie kann ich Räume an verschiedenen Standorten einplanen?</h4>
    <p>
      Das ist nicht möglich. Gegenwärtig kann das System nicht mehrere Räume
      gleichzeitig einplanen. Sie müssen jeden Raum separat einplanen. Stellen Sie bitte
      sicher, dass die Räume an den verschiedenen Orten zu der gewünschten Zeit
      verfügbar sind, bevor sie eine Belegung vornehmen.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="too_many">
    <h4>Meine Besprechung konnte nicht angelegt werden, da es <q>zu viele Einträge</q> gab!</h4>
    <p>
      Die Obergrenze für die Anzahl der Wiederholungseinträge eines
      Besprechungseintrags liegt im System bei 365. Die Zahl kann aber bei
      Bedarf erhöht werden. Bitte informieren Sie den Buchungsadministrator.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="multiple_users">
    <h4>Was passiert, wenn mehrere Benutzer die gleiche Besprechung einplanen?</h4>
    <p>
      Die einfache Antwort ist: der erste, der den Button <dfn>Speichern</dfn> drückt,
      macht das Rennen. Hinter den Kulissen benutzt das System eine einwandfrei
      arbeitende für mehrere Benutzer und gleichzeitige Verarbeitung mehrerer Anforderungen 
      ausgerichtete relationale Datenbank, die viele Tausende von gleichzeitigen Benutzern bedienen kann.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="search">
    <h4>Suchen</h4>
    <p>
      Mit Hilfe des Such-Feldes wird in allen Buchungs-Einträgen
      gesucht. Gesucht wird in folgenden Kategorien: 
      <q>Erstellt von</q>, <q>Kurzbeschreibung</q>, <q>Beschreibung</q>.<br>
    </p>
    <p>
      Zum Suchen den Such-Begriff in das Such-Feld eingeben und <q>Return</q>
      drücken. Als Ergebnis erscheint eine Liste mit gefundenen
      Buchungseinträgen die den Such-Begriff enthalten.
    </p>
    <p>
      Wenn Sie auf <q>Sie sind &lt;Benutzername&gt;</q>
      klicken, erhalten Sie eine Liste aller von Ihnen in der Zukunft
      reservierten Räumen/Geräten.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="report">
    <a></a><h4>Bericht</h4>
    <p>
      Ein Bericht generiert eine komplette Liste von Terminen, gefiltert nach bestimmten Kriterien.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="internal_external">
    <h4>Was ist Unterschied zwischen <q>Intern</q> und <q>Extern</q>?</h4>
    <p>
      Standardmäßig gibt es im System MRBS zwei Besprechungsarten. <dfn>Intern</dfn>
      bedeutet, dass an der Besprechung nur Firmenangestellte teilnehmen. <dfn>Extern</dfn> heisst,
      dass als Teilnehmer auch Kunden, Lieferanten, Geldanleger, usw. vorgesehen
      sind. Sie können für ihren Standort bis zu 10 Besprechungsarten nach ihren eigenen 
      Bedürfnissen definieren. Jeder Besprechungsart ist eine Farbe zugeordnet und die Besprechung
      werden in der Kalenderübersicht entsprechend farblich unterlegt. Eine übersicht
      über die Besprechungsarten und ihre farbliche Darstellung befindet sich am Fuss
      der Kalenderübersicht.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="how_much">
    <h4>Wieviel hat das System gekostet?</h4>
    <p>
      Nichts. Weitere Informationen entnehmen Sie bitte dem nächsten Abschnitt.
    </p>
    <a href="#top">Top</a>
  </div>
  
  <div id="about">
    <h4>Wie arbeitet das System und wer hat es geschrieben?</h4>
    <p>
      <a href="http://sourceforge.net/project/?group_id=5113">Meeting Room Booking System</a> ist eine Open Source
      Software, die unter Gnu Public License (GPL) vertrieben wird. Das bedeutet, die
      Software kann unentgeltlich benutzt, vertrieben und geändert werden.
    </p> 
    <p>
      Der größte Teil des Systems ist in <a href="http://www.php.net">PHP</a>, geschrieben, dies ist eine
      Open Source Programmiersprache, die in Webseiten eingebettet werden kann, vergleichbar den
      Microsoft active server pages. PHP eignet sich besonders gut für den Zugriff auf Datenbanken.
    </p>
    <p>  
      Das Datenbanksystem, das dem Anwendungssystem zugrunde liegt, ist entweder <a href="http://www.mysql.com">MySQL</a>
      oder <a href="http://www.postgresql.org">PostgreSQL</a>. MySQL ist ein sehr schneller, für mehrere
      Benutzer und parallele Verarbeitung verschiedener Benutzeranforderungen ausgerichteter,
      leistungsfähiger SQL (Structured Query Language) Datenbankserver, dies trifft auch für GPL zu. 
      PostgreSQL ist ein Multi User, Open Source und objektorientierter SQL Datenbankserver mit allen 
      Leistungsmerkmalen. 
    </p>
    <p> 
      Das System läuft auf vielen Plattformen, auch auf einer PC-Architektur mit einem <a href="http://www.linux.com">Linux</a>
      -Betriebssystem. Linux ist ein kostenloses, Open Source und unix-ähnliches Betriebssystem.
    </p>
    <p>
      Auch der eingesetzte Webserver ist eine kostenlose Open Source Software. Der <a href="http://www.apache.org">Apache</a>
      Webserver ist der weitverbreitetste Webserver.
    </p>
    <p>
      Die Quintessenz lautet: <strong>Jeder Bestandteil des Systems vom Betriebssystem bis zur Anwendungssoftware
      ist vollkommen kostenloser Quellcode.</strong>
    </p>
    <a href="#top">Top</a>
  </div>
  
</div>
