<!-- -*-mode: HTML; coding:utf-8;-*- -->

<div id="site_faq_contents">
  <a id="top"></a><h4>Autenticación</h4>
  <ul>
    <li><a href="#authenticate">¿Cómo se ingresa al sistema?</a></li>
    <li><a href="#meeting_delete">¿Por qué no puedo borrar/modificar una reserva?</a></li>
  </ul>
  
  <h4>Crear/Modificar reuniones</h4>
  <ul>
    <li><a href="#create">¿Cómo hago una reserva repetitiva?</a></li>
    <li><a href="#repeating_delete">¿Cómo elimino una instancia de una reserva repetitiva?</a></li>
    <li><a href="#multiple_sites">¿Cómo reservo salas en distintos lugares?</a></li>
    <li>
      <a href="#too_many">
        No pude hacer mi reserva y apareció el mensaje 
        <q>Las opciones seleccionadas crearán demasiadas entradas</q>!
      </a>
    </li>
    <li><a href="#multiple_users">¿Qué pasa si varias personas fijan una reserva a la misma hora?</a></li>
  </ul>
  
  <h4>Miscelánea</h4>
  <ul>
    <li><a href="#internal_external">¿Cuál es la diferencia entre <q>Interno</q> y <q>Externo</q>?</a></li>
  </ul>
  
  <h4>Acerca del programa <q>The Meeting Room Booking System</q> (MRBS)</h4>
  <ul>
    <li><a href="#how_much">¿Cuánto costó el sistema?</a></li>
    <li><a href="#about">¿Cómo funciona el sistema y quién lo escribió?</a></li>
  </ul>
</div>

<div id="site_faq_body">

  <div id="authenticate">
    <h4>¿Cómo se ingresa al sistema?</h4>
    <p>
      El sistema se puede configurar para utilizar uno entre varios métodos 
      de autenticación incluyendo LDAP, Netware y SMB. Contacte al administrador 
      del sistema si tiene problema para ingresar. Algunas funciones están 
      restringidas sólo para ciertos usuarios, y a los demás usuarios 
      les aparecerá un mensaje que dice <q>No tiene autorización para 
      modificar este dato</q>. Contacte al administrador del sistema si esto no funciona 
      correctamente para usted. Si el sistema está configurado para usar la 
      autenticación LDAP , esto significa que usted ingresa con el mismo nombre 
      de usuario y clave que los que usa para obtener su correo.
    </p>
    <a href="#top">Subir</a>
  </div>

  <div id="meeting_delete">
    <h4>¿Por qué no puedo borrar/modificar una reserva?</h4>
    <p>
      Para poder borrar o modificar una reserva, usted debe haber ingresado como 
      la misma persona que hizo la reserva de sala o armó reunión. 
      Contacte a uno de los administradores de salas o a la persona que hizo la 
      reserva inicial para que la borre o modifique.
    </p>
    <a href="#top">Subir</a>
  </div>

  <div id="create">
    <h4>¿Cómo hago una reserva repetitiva?</h4>
    <p>
      El hacer click en la hora deseada lo lleva a la pantalla de reservas. Seleccione el 
      tipo apropiado de repetición. La sala quedará reservada a la misma 
      hora hasta la <dfn>fecha final</dfn> (Repeat End Date), durante los días 
      determinados por el <dfn>tipo de repetición</dfn> (Repeat Type).
    </p>
    <ul>
      <li>
        Una <dfn>repetición diaria</dfn> (Daily repeat) repite la reserva todos 
        los días.
      </li>
      <li>
        Una <dfn>repetición semanal</dfn> (Weekly repeat) repite la reserva&nbsp; 
        en aquellos días de la semana que usted marcó bajo <dfn>Días a 
        repetir</dfn> (Repeat Day).  Por ejemplo, utilice la repetición semanal 
        (Weekly repeat) para reservar la sala todos los lunes, miércoles y jueves, 
        marcando esos días bajo Días a repetir (Repeat Day). Si usted no 
        marca ningún día, la reserva se repetirá el mismo día 
        de la semana que el primer día reservado.&nbsp;
      </li>
      <li>
        Una <dfn>repetición mensual</dfn> (Monthly repeat) reserva el mismo día del mes.  
        Por ejemplo el 28 avo día de cada mes.
      </li>
      <li>
        Una <dfn>repetición anual</dfn> (Yearly repeat) reserva el mismo día del 
        mes y el mismo mes, por ejemplo, cada 28 de octubre.
      </li>
      <li>
        Finalmente, una <dfn>repetición mensual del día correspondiente</dfn> 
        (Monthly, corresponding day repeat) reserva un día cada mes, el mismo 
        día de semana y en la misma posición de orden dentro del mes. 
        Use este tipo de repetición por ejemplo, para hacer reservas el primer 
        lunes de cada mes, o el segundo miércoles de cada mes, o el cuarto 
        viernes de cada mes.&nbsp;
        No use este tipo de repetición después del día a 28avo del mes.
      </li>
    </ul>
    <a href="#top">Subir</a>
  </div>

  <div id="repeating_delete">
    <h4>¿Cómo elimino una instancia de una reserva repetitiva?</h4>
    <p>
      Seleccione el día/sala/hora que quiere borrar y seleccione <dfn>Borrar entrada</dfn> (Delete Entry).
    </p>
    <a href="#top">Subir</a>
  </div>

  <div id="multiple_sites">
    <h4>¿Cómo reservo salas en distintos lugares?</h4>
    <p>
      No se puede. El sistema no permite hacer reservas en dos salas distintas 
      simultáneamente. Usted debe hacer cada una de las reservas separadamente. 
      Asegúrese que la hora que usted quiere esté disponible en ambas salas 
      antes de hacer una reserva.
    </p>
    <a href="#top">Subir</a>
  </div>

  <div id="too_many">
    <h4>No pude hacer mi reserva y apareció el mensaje <q>Las opciones seleccionadas crearán demasiadas entradas</q>!</h4>
    <p>
      Ninguna reserva repetitiva puede generar más de 365 reservas. 
      Debe haber un límite del número de reservas máximas repetitivas 
      que se pueden crear. Este número puede aumentarse si es necesario.
    </p>
    <a href="#top">Subir</a>
  </div>

  <div id="multiple_users">
    <h4>¿Qué pasa si múltiples personas hacen una reserva a la misma hora?</h4>
    <p>
      La respuesta corta es: la primera persona que graba la reserva gana.
      Detrás de las bambalinas, el sistema usa una adecuada base de 
      datos relacional multiusuaria que puede manejar varios miles de usuarios simultáneamente.
    </p>
    <a href="#top">Subir</a>
  </div>

  <div id="internal_external">
    <h4>¿Cuál es la diferencia entre <q>Interno</q> y <q>Externo</q>?</h4>
    <p>
      Por defecto, MRBS define dos tipos de reservas de sala: <dfn>"Interna"</dfn> que 
      significa que a la reunión asistirán solamente empleados. 
      Una reunión <dfn>"Externa"</dfn> puede también incluir la asistencia 
      de clientes, vendedores, inversionistas, etc. Se pueden definir definir hasta un 
      total de 10 tipos distintos de reunión, de acuerdo a las necesidades. Las 
      reuniones se destacan en el calendario principal con el color que corresponde a su 
      tipo, y la secuencia de colores de los tipos de reunión definidos se despliega 
      debajo de la vista principal del calendario.
    </p>
    <a href="#top">Subir</a>
  </div>

  <div id="how_much">
    <h4>¿Cuánto costó el sistema?</h4>
    <p>
      Nada. Vea la siguiente sección para mayor infomación.
    </p>
    <a href="#top">Subir</a>
  </div>

  <div id="about">
    <h4>¿Cómo funciona el sistema y quién lo escribió?</h4>
    <p>
      El Sistema de Reserva de Salas MRBS (<a href="http://sourceforge.net/project/?group_id=5113">Meeting Room Booking System</a>)
      es un software de fuente abierta (open source software) que se distribuye  bajo la licencia pública Gnu 
      (Gnu Public License o GPL). Esto significa que este software es libre de ser usado, distribuido y modificado.
    </p> 
    <p>
      El sistema fue escrito por Daniel Gardner mayoritariamente en lenguaje 
      <a href="http://www.php.net">PHP</a>, que es un lenguaje de 
      programación de código abierto, que puede ser incluido 
      en páginas web usando un concepto similar al de ASP (Microsoft Active Server Pages). 
      PHP es especialmente bueno para dar acceso a bases de datos.
    </p>
    <p>  
      La base de datos que se usa para el sistema puede ser
      <a href="http://www.mysql.com">MySQL</a>
      o <a href="http://www.postgresql.org">PostgreSQL</a>.
      MySQL es una base de datos muy rápida, multivinculo, multi-usario y muy 
      robusta que usa el lenguaje de consulta estructurado SQL (Structured Query Language) 
      en el servidor de base de datos, que también es GPL.
      PostgreSQL es un servidor de base de datos relacional de objetos SQL 
      multi-usuario, muy potente, de código abierto.
    </p>
    <p> 
      El sistema puede operar en múltiples plataformas incluyendo la 
      arquitectura de PC usando el sistema operativo  <a href="http://www.linux.com">Linux</a>.
      Linux, es un sistema operativo gratuito, de código abierto, de tipo Unix.
    </p>
    <p>
      El software que opera en el servidor, que cumple la función de <q>Servidor de WEB</q> 
      que se está utilizando, o web server, es aún otro software gratuito, de código 
      abierto. Se llama  <a href="http://www.apache.org">Apache</a> web server y es el web server 
      más popular en el mundo.
    </p>
    <p>
      En último término y como línea final:<strong>
      Cada parte de este sistema, desde el sistema operativo hasta la 
      aplicación, es completamente gratis, incluyendo el código fuente y todo...</strong>.
    </p>
    <a href="#top">Subir</a>
  </div>
  
</div>
