body {
	font-size: 14px;
}

/* Header Texts */
#dwm_header h3 {
	font-size: medium; 
	font-weight: bold; 
	text-decoration: none; 
    margin-top: 0; 
	margin-bottom: 0.5em; 
	padding-bottom: 0
}

/* Forms and Input fields */
form input[type=submit], select#typematch {
	border-radius: 0px;
	background-color: #ffffff;
	outline: 0;
	padding: 10px;
	border: 1px solid #008ab2;
}
form input[type=submit]:hover {
	cursor: pointer;
}

form input[type=text], input[type=search], input, .report .form_general input {
	border-radius: 4px;
	border: 1px solid #008ab2;
	padding: 10px;
}

#header_search input {
	width: 12em;
}

/* Legend */
legend {
	font-weight: normal;
}

/* Links */
a:link {
	font-weight: normal;
}

a:hover, .dwm_main th a:hover {
	text-decoration: none;
	font-weight: normal;
}

/* Tables */
.dwm_main th {
	height: 30px;
	font-size: medium;
	vertical-align: middle;
}

/* Calendar (smal calendar table) */
.calendar th {
	min-width: 2.0em; 
	text-align: center; 
	font-weight: normal; 
	background-color: transparent;
}
.calendar td {
	text-align: center; 
	font-size: x-small;
}


/* Admin.php */
#add_area label, #add_room label {
	line-height: 30px; /* Aligning label text middle */
}


/* Edit_entry.php */
#div_confirmation_status, #div_type {
   display: block;
}
div#div_type, div#div_confirmation_status, label[for="skip"], input#skip {
   display: none;
}


/* Report.php */
.form_general label {
	line-height: 30px;
	font-weight: normal;
}

label.radio {
	line-height: 15px;
	margin-top: 10px;
}

#div_typematch, #div_confirmationstatus {
   display: block;
}
div#div_typematch, div#div_confirmationstatus {
   display: none;
}

/* buttons.dataTables.css */
a.dt-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 0.333em;
  padding: 0.5em 1em;
  border: 1px solid #008ab2;
  border-radius: 0px;
  cursor: pointer;
  font-size: 0.88em;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  background-color: #ffffff;
  background-image: none;
  user-select: none;
  text-decoration: none;
  outline: none;
}

a.dt-button:hover:not(.disabled) {
  border: 1px solid #008ab2;
  background-color: #ffffff;
  background-image: none;
}

/* Company Logo */
.banner #company {
	text-align: left;
}
